MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/food_booking_db?retryWrites=true&w=majority
JWT_SECRET_KEY=your_super_secret_jwt_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# WhatsApp Cloud API configurations
WHATSAPP_TOKEN=your_meta_system_user_access_token
WHATSAPP_PHONE_ID=your_whatsapp_phone_number_id
WHATSAPP_VERIFY_TOKEN=your_custom_verify_token

# Gemini AI Settings
GEMINI_API_KEY=your_google_gemini_api_key
